body {
    width: 100vw;
    height: 100vh;
    background-color: #248bc653;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

.container {
    width: 300px;
    background-color: #1e1e1e;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.display input {
    width: 100%;
    background-color: #1e1e1e;
    border: none;
    color: white;
    height: 60px;
    font-weight: 500;
    font-size: 38px;
    text-align: right;
    outline: none;
    margin-bottom: 20px;
}

.container-button {
    background-color: #27292e;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 15px;
}

button {
    width: 100%;
    height: 55px;
    background-color: #27292e;
    border-radius: 32px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

button:hover {
    border: 2px solid #ed0e98;
}

.operator {
    background-color: #44474d;
}

.operator:hover {
    border: 2px solid #ed0e98;
}

button.result {
    grid-column: span 2; /* tombol '=' jadi dua kolom */
    background-image: linear-gradient(#ed0e98, #fe5a2d);
    color: #ffffff;
    border: none;
}

button.result:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.315);
}

.angka:hover {
    background-color: #ed0e98;
}
